-e /Users/coulsonkgathi/source/flourish-caregiver
-e /Users/coulsonkgathi/source/flourish-dashboard
-e /Users/coulsonkgathi/source/flourish-child
-e /Users/coulsonkgathi/source/flourish-follow
-e /Users/coulsonkgathi/source/flourish-visit-schedule
-e /Users/coulsonkgathi/source/flourish-reference 
-e /Users/coulsonkgathi/source/flourish-prn
-e /Users/coulsonkgathi/source/flourish-metadata-rules
-e /Users/coulsonkgathi/source/flourish-child-validations
-e /Users/coulsonkgathi/source/flourish-form-validations
-e /Users/coulsonkgathi/source/pre-flourish
-e /Users/coulsonkgathi/source/flourish-reports
-e /Users/coulsonkgathi/source/flourish-labs
-e /Users/coulsonkgathi/source/flourish-calendar